.feed-resource-thumb {
    .default-thumb {
        background-size: 32px 32px;
    }
}

.feeds-menu__feed-img{
    border-radius: 100% !important;
    width: 28px !important;
    height: 28px !important;
}
