.ok-button {
  background-color: $EDITOR_BUTTON_GREEN;
  background-image: none;
  position: relative;
  cursor: pointer;
  @include post-radius(50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #6c6c6c;
  display: table !important;
  height: 41px !important;
  text-align: center;
  box-sizing: content-box;
  float: left;
  min-width: 120px;

  &:hover {
    background-color: $EDITOR_BUTTON_GREEN_HOVER;
    color: #fff;
  }

  &:active {
    background-color: $EDITOR_GREEN;
    color: #fff;
    background-image: -o-linear-gradient(89deg, $EDITOR_BUTTON_GREEN_HOVER 80%, $EDITOR_BUTTON_GREEN 100%);
    background-image: -moz-linear-gradient(89deg, $EDITOR_BUTTON_GREEN_HOVER 80%, $EDITOR_BUTTON_GREEN 100%);
    background-image: -ms-linear-gradient(89deg, $EDITOR_BUTTON_GREEN_HOVER 80%, $EDITOR_BUTTON_GREEN 100%);
    background-image: linear-gradient(-1deg, $EDITOR_BUTTON_GREEN_HOVER 80%, $EDITOR_BUTTON_GREEN 100%);
  }

  &.disabled,
  &.disable:hover,
  &.disable:active {
    cursor: default;
    background-color: $EDITOR_BUTTON_GREY;
    border: none;

    span {
      color: $EDITOR_DEFAULT_BUTTON_TEXT_COLOR;
    }
  }

  span {
    @include button-label-text($EDITOR_TEXT_WHITE, 13pt);
    display: table-cell;
    vertical-align: middle;
    font-family: "Noto Sans", sans-serif;
    font-size: 10pt;
    font-weight: 600;
    text-align: center;
    margin: 11px 40px 11px 40px;
  }
}

.cancel-button {
  display: table !important;
  position: relative;
  float: left;
  height: 40px !important;
  cursor: pointer;
  @include post-border(1px, solid, $EDITOR_GREY);
  @include post-radius($EDITOR_BUTTON_RADIUS);
  background-image: none;
  background-color: $EDITOR_WHITE;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: $EDITOR_DEFAULT_BUTTON_TEXT_COLOR;
  text-align: center;
  box-sizing: content-box;

  &:hover {
    color: $EDITOR_DEFAULT_BUTTON_TEXT_HOVER_COLOR;
    @include post-border(1px, solid, $EDITOR_DARKER_GREY);
    background-image: none;
  }

  &:active {
    @include post-border(1px, solid, $EDITOR_DARKER_GREY);
    color: $EDITOR_DEFAULT_BUTTON_TEXT_HOVER_COLOR;
    /* Rectangle 5: */
    background-image: -o-linear-gradient(-89deg, rgba(236, 236, 236, 0.5) 0%, #ffffff 28%);
    background-image: -moz-linear-gradient(-89deg, rgba(236, 236, 236, 0.5) 0%, #ffffff 28%);
    background-image: -ms-linear-gradient(-89deg, rgba(236, 236, 236, 0.5) 0%, #ffffff 28%);
    background-image: linear-gradient(-179deg, rgba(236, 236, 236, 0.5) 0%, #ffffff 28%);
    border: 1px solid #a2a7a8;
  }

  &.disabled,
  &.disable:hover,
  &.disable:active {
    cursor: default;
    background-color: $EDITOR_BUTTON_GREY;
    border: none;

    span {
      color: $EDITOR_DEFAULT_BUTTON_TEXT_COLOR;
    }
  }

  span {
    @include button-label-text($EDITOR_TEXT_DARKGREY, 13pt);
    display: table-cell;
    vertical-align: middle;
    font-family: "Noto Sans", sans-serif;
    font-size: 10pt;
    font-weight: 600;
    text-align: center;
    margin: 11px 40px 11px 40px;
  }
}

.fs-button {
  text-align: center;
  box-sizing: content-box;
  min-width: 120px;

  &--confirm-fill {
    background-color: $EDITOR_GREEN;
    @include thumb-drop-shadow;
    @include button-label-text($EDITOR_WHITE, $DEFAULT_BUTTON_TEXT_SIZE);
    height: $default_button-height;
  }

  &--default-fill {
    background-color: $EDITOR_WHITE;
    height: $default_button-height;
    @include thumb-drop-shadow;
    @include button-label-text($EDITOR_TEXT_DARKGREY, $DEFAULT_BUTTON_TEXT_SIZE);
  }
}

.btn-red {
  position: relative;
  height: 37px;
  cursor: pointer;
  background-color: $EDITOR_BUTTON_RED;
  background-image: none;
  border: none;
  border-radius: $EDITOR_BUTTON_RADIUS;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  display: table !important;
  text-align: center;
  color: $EDITOR_WHITE;

  &:hover {
    background-color: $EDITOR_BUTTON_RED_HOVER;
  }

  &:active {
    background-image: -o-linear-gradient(89deg, #e9351f 80%, #d52712 100%);
    background-image: -moz-linear-gradient(89deg, #e9351f 80%, #d52712 100%);
    background-image: -ms-linear-gradient(89deg, #e9351f 80%, #d52712 100%);
    background-image: linear-gradient(-1deg, #e9351f 80%, #d52712 100%);
    background-color: transparent;
  }

  span {
    display: table-cell;
    padding: 5px 8px 5px 8px;
    vertical-align: middle;
    font-family: "Noto Sans", sans-serif;
    font-size: 10pt;
    font-weight: 600;
  }
}

.twitter-button {
  background-color: $TWITTER_BLUE;
  background-image: none;
  position: relative;
  cursor: pointer;
  @include post-radius(50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #6c6c6c;
  display: table !important;
  height: 41px !important;
  text-align: center;
  box-sizing: content-box;
  float: left;
  min-width: 120px;
  padding: 0 15px;

  &:hover {
    background-color: $TWITTER_BLUE_HOVER;
    color: #fff;
  }

  &:active,
  &:focus {
    background-color: $TWITTER_BLUE;
    color: #fff;
  }

  span {
    @include button-label-text($EDITOR_TEXT_WHITE, 13pt);
    display: table-cell;
    vertical-align: middle;
    font-family: "Noto Sans", sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    margin: 11px 40px 11px 40px;
  }
}

@mixin icon-button {
  color: $EDITOR_ICON_HEADER;
  font-size: 14pt;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 33pt;
  border-radius: 50%;
  text-align: center;
  z-index: 9995;
  cursor: pointer;
  @include text-select-none();

  &:hover {
    
  }

  .icon {
    padding-top: 1px;
    width: 100%;
    margin: 9px auto;
  }
}

@mixin small-button() {
  display: table !important;
  position: relative;
  margin: 0 auto;
  height: 32px !important;
  cursor: pointer;
  min-width: 83px;
  border: 1px solid #c6ced1;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -khtml-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: none;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: hsla(204, 2%, 46%, 0.8);
  text-align: center;
  box-sizing: content-box;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #919799;
  }

  span {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    color: #181818;
    font-size: 13pt;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    display: table-cell;
    vertical-align: middle;
    font-family: Noto Sans, sans-serif;
    font-size: 9pt;
    font-weight: 400;
    text-align: center;
    margin: 11px 40px;
  }
}

@mixin small-text-button() {
  cursor: pointer;
  min-width: 83px;
  display: table !important;
  position: relative;
  margin: 0 auto;

  span {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    color: $EDITOR_TEXT_DARKGREY;
    font-size: 13pt;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    display: table-cell;
    vertical-align: middle;
    font-family: Noto Sans, sans-serif;
    font-size: 9pt;
    font-weight: 400;
    text-align: center;
    margin: 11px 40px;
  }

  &:hover {
    span {
      color: $EDITOR_TEXT_DARKGREY;
    }
  }
}
