.popup__container{

    &--medium{
        display: flex;
        flex-direction: column;
        max-height: 500px;

        article{
            display: flex;
            flex-direction: column;
        }
    }
}