.popup__container {
  &--medium {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-height: 400px;

    article {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

.content__element-container {
  width: 100%;
  padding: 0 0 $default-element-padding-large 0;

  &--hor {
    @extend .content__element-container;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &--vert {
    @extend .content__element-container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
