/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'icons';
// @import 'layout';
// @import 'utilities';
@import 'buttons';
// @import 'input';
@import 'text';
@import 'forms';
@import 'navigation';
@import 'fonts';
// @import 'snackbar';
@import 'modal';
@import 'list';
@import 'containers';
@import 'dropdown';
// @import 'tables';
// @import 'accordion';
@import 'tabs';
// @import 'datepicker';
// @import 'stripes';
// @import 'tooltip';
@import 'frontpage';
@import 'modifiers';
@import 'checkbox';
@import 'accordeon';
@import 'post-mixins';
@import 'post';
@import 'paper';

/** basic grid  */

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
