@import "variables";
@import "content-mixins";

h1 {
    font-size: 20px;
}


h2 {
    font-size: $h2;
}


h3{
    font-size: 14px;
}

h4{
    font-size: 12px;
}

.post__title{
  @include default-post-title;
}

.post__description{
  @include default-post-description;
}

.h2{
  font-size: $h2;
}
